<div class="modal fade show d-block" id="Modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="modal-title" id="titleLabel"></h2>
                </div>
            </div>
        </div>
    </div>