.table td:hover {
    background-color: #F2F2F2;
}

.Background-Lightblue {
    background-color: #dbefff !important;
}

.Background-none {
    background-color: none;
}

#BtnDisable {
    opacity: 0.1;
}

.bg-warning {
    background-color: #fffee0 !important;
}

.boldFont {
    font-weight: 700;
}

::-webkit-scrollbar {
    display: none !important;
}

.rightHandDate {
    font-weight: 500;
    font-size: 40px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

body {
    overflow-y: hidden !important;
}

.noHover {
    pointer-events: none;
}

.table-danger {
    background-color: rgba(255, 0, 0, .7);
}

.table-info {
    background-color: rgba(150, 211, 255, .7);
}

.table-success {
    background-color: rgba(0, 204, 54, .7);
}

.gnsColor {
    background-color: lightblue;
}

.high {
    color: red !important;
    font-weight: 700 !important;
}

.low {
    color: #00cc36 !important;
    font-weight: 700 !important;
}

.oi-caret-bottom {
    color: red;
}

.oi-caret-top {
    color: #00cc36 !important;
}

.noMargin {
    margin: 0 !important;
}

.table-borderless tr:nth-child(odd) {
    background-color: #e0e0e0;
}

.bottomLayer {
    z-index: -1;
}

.topLayer {
    z-index: 1;
}

.calendar {
    background-color: white !important;
}

.animation1 {
    animation-fill-mode: forwards;
    animation-name: animation;
    animation-duration: 0.5s;
    position: relative;
}

.animation2 {
    animation-fill-mode: forwards;
    animation-name: animation2;
    animation-duration: 0.5s;
    position: relative;
}

@keyframes animation {
    0% {
        left: -33%;
        opacity: 0;
    }
    100% {
        left: 0%;
    } 
}


@keyframes animation2 {
    0% {
        left: 0%;
    }
    100% {
        left: -33%;
        opacity: 0;
    }
}

#DateAndArrow {
    font-weight: 700;
    font-size: 24px;
}

#MarketPrice {
    font-weight: 700;
    text-align: right;
    font-size: small;
    opacity: 0.8;
}

#YouPrice {
    text-align: right;
    font-size: small;
    font-weight: 700;
}

#ArrowSize {
    font-size: 30px;
}

#H1MonthAndYear {
    width: 350px;
}

#H1Date {
    height: fit-content;
    text-align: right;
}

#Weekdays {
    width: 14%
}

#HeightOfTdFirstRow {
    Height: 100px;
}

#HeightOfTd {
    Height: 100.5px;
}