
.table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

.table td
{
    border: 1px solid black;
    padding: 10px;
    margin: auto;
}

.table th {
    border: 1px solid black;
}
.table td:hover{
    background-color: pink;
}

.boxed {
    border: 1px solid;
    float: right;
    width: 50%;
    position: relative;
    bottom: 31ex;
}