@page "/scraper"

@using HotelPriceScout.Data

<h3>Scraper</h3>

@code {

    protected override void OnInitialized()
    {
        DataScraper kompasScraber = new DataScraper("Kompas");
        kompasScraber.Start();
    }
}