@page "/settings"



<h1>Settings</h1>
<br />

<SfNumericTextBox Width="300px" Placeholder="Insert margin value %" TValue="int?" Step="1" Max="100" Min="1" Value="5"></SfNumericTextBox>
<br />&nbsp;
<br />
<br />&nbsp;
<br />


<SfDropDownList TItem="NotificationTime" TValue="string" DataSource="TimeToNotify" Placeholder="Select time to notify" PopupWidth="300px" PopupHeight="200px" Width="300px">
    <DropDownListFieldSettings Text="Time" Value="LowerMargin">
    </DropDownListFieldSettings>
</SfDropDownList>
<br />&nbsp;
<br />
<br />&nbsp;
<br />

<div class="row">
    @if (showstart)
    {
        <button type="button" class="border border-dark col-md-1 btn btn-success" disabled=@IsScoutStarted @onclick="StartProgram"> @ScoutStarted</button>
    }

    @if (showstop)
    {
        <button type="button" class="border border-dark col-md-1 btn btn-danger" data-bs-toggle="modal" @onkeydown="@EscapeStop" @onclick="PopUp"> Stop program</button>
    }
    @if (popup)
    {
        <div class="modal fade show d-block" id="Modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titleLabel">Are you sure you want to stop the program?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="form-control border border-dark" disabled=@IsScoutStopped @onclick="StopProgram">Yes </button>
                        <button type="button" class="form-control border border-dark" disabled=@IsScoutStopped @onclick="PopUp"> No </button>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="col-md-1">
    </div>
    @if (showupdate)
    {
        <button type="button" class="border border-dark col-md-1 btn btn-primary" data-bs-toggle="modal" @onkeydown="@EscapeUpdate" @onclick="UpdatePopUp">Update program</button>
    }
    @if (updatepopup)
    {
        <div class="modal fade show d-block" id="Modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titleLabel">Are you sure you want to update the program?</h5>
                    </div>
                    <div class=modal-footer>
                        <button type="button" class="form-control border border-dark" col-8 col-sm-3 disabled=@IsScoutUpdated @onclick="UpdateProgram">Yes</button>
                        <button type="button" class="form-control border border-dark" col-4 col-sm-3 disabled=@IsScoutUpdated @onclick="UpdatePopUp">No</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class=col-md-3>
    </div>
</div>





@code {


    public class NotificationTime
    {
        public string Time { get; set; }
    }
    List<NotificationTime> TimeToNotify = new List<NotificationTime>
    {
        new NotificationTime() { Time= "08:00"},
        new NotificationTime() { Time= "08:30"},
        new NotificationTime() { Time= "09:00"},
        new NotificationTime() { Time= "09:30"},
        new NotificationTime() { Time= "10:00"},
        new NotificationTime() { Time= "10:30"},
        new NotificationTime() { Time= "11:00"},
        new NotificationTime() { Time= "11:30"},
        new NotificationTime() { Time= "12:00"},
        new NotificationTime() { Time= "12:30"},
        new NotificationTime() { Time= "13:00"},
        new NotificationTime() { Time= "13:30"},
        new NotificationTime() { Time= "14:00"},
        new NotificationTime() { Time= "14:30"},
        new NotificationTime() { Time= "15:00"},
        new NotificationTime() { Time= "15:30"},
        new NotificationTime() { Time= "16:00"},
        new NotificationTime() { Time= "16:30"},
        new NotificationTime() { Time= "17:00"},
        new NotificationTime() { Time= "17:30"},
        new NotificationTime() { Time= "18:00"},
        new NotificationTime() { Time= "18:30"},
        new NotificationTime() { Time= "19:00"},
        new NotificationTime() { Time= "19:30"},
        new NotificationTime() { Time= "20:00"},
        new NotificationTime() { Time= "20:30"},
        new NotificationTime() { Time= "21:00"},
        new NotificationTime() { Time= "21:30"},
        new NotificationTime() { Time= "22:00"},
        new NotificationTime() { Time= "22:30"},
        new NotificationTime() { Time= "23:00"},
    };


    bool IsScoutStopped = false;
    string ScoutStopped = "Stop program";
    bool IsScoutUpdated = false;
    string ScoutUpdated = "Update program";
    bool IsScoutStarted = false;
    string ScoutStarted = "Start program";


    public void StopProgram()
    {
        IsScoutStopped = true;
        ShowStartButton();
        ShowStopButton();
        ShowUpdateButton();
        PopUp();
        IsScoutStarted = false;
        StateHasChanged();

    }


    async void UpdateProgram()
    {
        IsScoutUpdated = true;
        await OnButtonClick();
        UpdatePopUp();
        IsScoutUpdated = false;
        StateHasChanged();
    }


    public void StartProgram()
    {
        IsScoutStarted = true;
        ShowStopButton();
        ShowUpdateButton();
        ShowStartButton();
        IsScoutStopped = false;
        StateHasChanged();

    }


    Task OnButtonClick()
    {

        return Task.Delay(2000);
    }


    private bool showstop = false;
    private void ShowStopButton()
    {
        showstop = !showstop;
    }

    private bool showstart = true;
    private void ShowStartButton()
    {
        showstart = !showstart;
    }

    private bool showupdate = false;
    private void ShowUpdateButton()
    {
        showupdate = !showupdate;
    }


    public bool popup = false;
    private void PopUp()
    {
        popup = !popup;
    }

    public bool updatepopup = false;
    private void UpdatePopUp()
    {
        updatepopup = !updatepopup;
    }


    public void EscapeUpdate(KeyboardEventArgs e)
    {
        if (e.Code == "Escape")
        {
            UpdatePopUp();
        }
    }

    public void EscapeStop(KeyboardEventArgs f)
    {
        if (f.Code == "Escape")
        {
            PopUp();
        }
    }

}