@inject NavigationManager NavManager
@inherits LayoutComponentBase

@if (NavManager.Uri == "https://localhost:5001/Dashboard")
{
    <div class="noneselect page">
        <div class="main">
            <div class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" id="nav-logo" href="#">
                    <img class="img-responsive" width="175" height="35" src="/Images/HPS_Logo.png">
                </a>
                <NavLink class="nav-link text-white" id="nav-settings" href="Settings" data-toggle="tooltip"
                title="Go to scout settings for setting up the program">
                    <span class="oi oi-cog flex" style="color:white;"></span>
                    Scout settings
                </NavLink>
            </div>
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
}
else
{
    <div class="noneselect page">
        <div class="main">
            <div class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <img class="img-responsive" id="nav-logo" width="175" height="35" src="/Images/HPS_Logo.png">
                </a>
                <NavLink class="nav-link text-white" id="nav-home" href="" data-toggle="tooltip" 
                title="go to the dashboard page to see prices after settings have been set">
                    <span class="oi oi-home flex" style="color:white;"></span>
                    Dashboard
                </NavLink>
            </div>
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
}
