@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            @*Her skal Jonas ting være *@
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-cog" style="color:black;"> </span>
            </NavLink>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

