@inject NavigationManager NavManager
@inherits LayoutComponentBase

@if (NavManager.Uri == "https://localhost:5001/Dashboard")
{
    <div class="page">
        <div class="main">
            <div class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <img class="img-responsive" width="175" height="35" src="/Images/HPS_Logo.png">
                </a>
                <NavLink class="nav-link text-white" @onclick="SettingsPageClicked" href="Settings">
                    <span class="oi oi-cog flex" style="color:white;"></span>
                    Scout settings
                </NavLink>
            </div>
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
}
else 
{
    <div class="page">
        <div class="main">
            <div class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <img class="img-responsive" width="175" height="35" src="/Images/HPS_Logo.png">
                </a>
                <NavLink class="nav-link text-white"  href="">
                    <span class="oi oi-home flex" style="color:white;"></span>
                    Home
                </NavLink>
            </div>
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
}

@code {
    //public bool settingsPageClicked = false;
    public void SettingsPageClicked()
    {
        if (Program.ScoutSharedService.ScoutRunning == true)
            NavManager.NavigateTo("Settings");  
    }


}